# Arquivos auxiliares do LaTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.out
*.lof
*.lot
*.pdfsync
*.xdv
missfont.log

# Ambientes Python e Pycache
.venv/
__pycache__/
*.pyc

# Arquivos de sistema e editores
.DS_Store
.idea/
*~
